@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: linear-gradient(90deg, #e67e22, #f39c12);
	font-family: 'Quicksand', sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.container {
	background: rgba(255, 255, 255, 0.25);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(4px);
	-webkit-backdrop-filter: blur(4px);
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.18);
	width: 320px;
	padding: 20px;
}

.chiste-aleatorio {
	border-radius: 12px;
	border: 1px solid rgba(255, 255, 255, 0.18);
	padding: 20px;
	background: #f7f7f7;
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.115);
}

#chiste-texto {
	text-shadow: 0 2px 4px rgba(71, 97, 206, .36);
}

.btns {
	display: flex;
	justify-content: space-between;
	text-align: center;
}

button {
	color: #ecf0f1;
	font-size: 1.2em;
	font-weight: bold;
	background: #e67e22;
	border: 1px solid #f39c12;
	border-radius: 12px;
	padding: 10px;
	box-shadow: 0px 6px 0px #d35400;
	transition: all .1s;
	cursor: pointer;
	width: 46%;
	margin-top: 20px;
	user-select: none;
}

#btn-twitter {
	color: #ecf0f1;
	font-size: 1.2em;
	font-weight: bold;
	border-radius: 12px;
	padding: 10px;
	transition: all .1s;
	cursor: pointer;
	width: 46%;
	margin-top: 20px;
	user-select: none;
	background: #1DA1F2;
	color: #fff;
	border: 1px solid #6ac6ff;
	box-shadow: 0px 6px 0px #1677b3;
}

button:active {
	box-shadow: 0px 2px 0px #d35400;
	position: relative;
	top: 2px;
}